@{
    ViewBag.Title = "Beride";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@model TransportSystem.Area.Web.Models.Trips.TripsListModel

@section head
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/trip/trips.list.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slider/coda-slider.1.1.1.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slider/jquery-easing-compatibility.1.2.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slider/jquery-easing.1.2.pack.js")"></script>
}

<div class="content" style="margin-top:30px;">
    <table class="trips-list-table">
        @if (Model.trips.Count == 0)
        {
            <div>Поездок не найдено. Вы можете создать свою, чтобы Вас могли найти водители или попутчики.</div>
        }
        @foreach(var trip in Model.trips)
        {
            <tr>
                <td>
                    @trip.StartPointFullName<span> - </span>@trip.EndPointFullName
                    <div>
                        <span>
                            Свободных мест
                        </span>
                        <span>
                            @trip.SeatsNumber
                        </span>
                    </div>
                    <div>
                        <span>
                            Дата выезда
                        </span>
                        <span>
                            @trip.Date.ToShortDateString()
                        </span>
                    </div>
                </td>
                <td>
                    @if (trip.IsDriver)
                    {
                        <a class="simple-button" onclick="@(HttpContext.Current.User.Identity.IsAuthenticated ? "sendRequestToTrip(" + trip.TripId + ")" : "requestLogin()")">Присоединиться</a>
                    }
                    else
                    {
                        <a class="simple-button">Предложить</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>

<script type="text/javascript">
    document.SendRequestUrl = "@Url.Action("SendRequest","Requests")";
</script>