@{
    ViewBag.Title = "Beride";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@using System.Globalization
@model TransportSystem.Area.Web.Models.Trips.TripsListModel

@section head
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/trip/trips.list.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slider/coda-slider.1.1.1.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slider/jquery-easing-compatibility.1.2.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slider/jquery-easing.1.2.pack.js")"></script>
}

<div class="content" style="margin-top:30px;position: relative;">
    @if (Model.trips.Count == 0)
    {
        <div class="trips-not-found">
            Поездок не найдено. Вы можете создать свою, чтобы Вас могли найти водители или попутчики.
            <a class="simple-button" href="@Url.Action("CreateTrip", "Trips")">Создать поездку</a>
        </div>
    }
    else
    {
        <table class="trips-list-table">
            @foreach (var trip in Model.trips)
            {
                <tr>
                    <td class="info">
                        <div class="photo">
                            <img src="@Url.Content("~/Content/img/never-say-no-to-panda-100.png")"/>
                        </div>
                        <div>
                            @{
                                var i = 1;

                                foreach (var point in trip.MainRouteShortStr)
                                {
                                    if (point == trip.StartPointShortName || point == trip.EndPointShortName)
                                    {
                                        <span class="primary-point">@point</span>
                                    }
                                    else
                                    {
                                        <span class="secondary-point">@point</span>
                                    }

                                    if (trip.MainRouteShortStr.Count() != i)
                                    {
                                        <span>&rarr;</span>
                                    }
                                    i++;
                                }
                            }
                        </div>
                        <div class="free-seats-container">
                            <span class="free-seats">
                                @if (trip.IsDriver)
                                {
                                    <text>Свободных мест:</text>
                                }
                                else
                                {
                                    <text>Кол-во человек:</text>
                                }
                            </span>
                            <span class="free-seats-number">
                                @trip.SeatsNumber
                            </span>
                        </div>
                        <div>
                            <span class="date-departure">
                                @{ var ci = new CultureInfo("ru-RU", false); }
                                @if (trip.Date == DateTime.Today)
                                {
                                    <text>Сегодня</text>
                                }
                                else if (trip.Date == DateTime.Today.AddDays(1))
                                {
                                    <text>Завтра</text>
                                }
                                else if (trip.Date < DateTime.Today.AddDays(7))
                                {
                                    @trip.Date.ToShortDateString()<text>,&nbsp;</text>
                                    @ci.DateTimeFormat.DayNames[(int) trip.Date.DayOfWeek]
                                    ;
                                }
                                else
                                {
                                    @trip.Date.ToShortDateString()
                                }
                            </span>
                        </div>
                    </td>
                    <td>
                        <div style="position: relative;">
                            @if (trip.IsDriver)
                            {
                                <p class="request-sent" @(trip.StatusForUser == "new" ? "style=display:none;" : string.Empty)>Заявка отправлена</p>
                                <a class="simple-button send-request-button" onclick=" sendRequestToTrip(@trip.TripDateId, @trip.RouteId) " @(trip.StatusForUser == "sent" ? "style=display:none;" : string.Empty)>Присоединиться</a>
                                <div class="cost">
                                    @if (trip.Cost == 0)
                                    {
                                        <text>Бесплатно</text>
                                    }
                                    else
                                    {
                                        @trip.Cost
                                        <span>руб.</span>
                                    }
                                </div>
                            }
                            else
                            {
                                <p class="request-sent" @(trip.StatusForUser == "new" ? "style=display:none;" : string.Empty)>Заявка отправлена</p>
                                <a class="simple-button offer-button" onclick=" sendRequestToTrip(@trip.TripDateId, @trip.RouteId) " @(trip.StatusForUser == "sent" ? "style=display:none;" : string.Empty)>Предложить</a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    <div class="filters-container">
        <div class="filters">
            <div class="labels">Откуда</div>
            <div class="input-text">
                <input id="startPoint" class="input location small for-filter" type="text" placeholder="Откуда" full-name="@Model.StartPointFullName" value="@Model.StartPointShortName" gid="@Model.StartPointGid" />
                <img src="~/Content/img/map_point.png" />
                @Html.Hidden("hdnStartPoint")
                @Html.Hidden("hdnStartPointFullName")
            </div>
            <div class="labels">Куда</div>
            <div class="input-text">
                <input id="endPoint" class="input location small for-filter" type="text" placeholder="Куда" full-name="@Model.EndPointFullName" value="@Model.EndPointShortName" gid="@Model.EndPointGid" />
                <img src="~/Content/img/map_point.png" />
                @Html.Hidden("hdnEndPoint")
                @Html.Hidden("hdnEndPointFullName")
            </div>
            <br/>
            <div class="labels">Дата</div>
            <div class="input-text">
                <input id="dateAt" class="input-date for-filter" type="text" placeholder="Дата" value="@Model.DateAt" />
                <img src="~/Content/img/evolution-calendar_1052.png" />
                @Html.Hidden("hdnDateAt")
            </div>
            <a class="show-date-to add-diapason-button">Период</a>
            <div id="additionalDate" style="display: none;">
                <div class="input-text" style="margin-top: 0px;">
                    <input id="dateTo" class="input-date for-filter" type="text" placeholder="По какое" value="@Model.DateTo" />
                    <img src="~/Content/img/evolution-calendar_1052.png" />
                    @Html.Hidden("hdnDateTo")
                </div>
                <a class="show-date-to date-hider">Скрыть</a>
            </div>
            <div class="radio-driver">
                @Html.RadioButton("search", "driver", true, new { @id = "searchDriver" })
                @Html.Label("searchDriver", "Ищу водителя")
            </div>
            <div class="radio-passenger">
                @Html.RadioButton("search", "passenger", false, new { @id = "searchPassenger" })
                @Html.Label("searchPassenger", "Ищу пассажира")
            </div>
            <a id="search" class="simple-button">Поиск</a>
            <div id="results" style=""></div>
        </div>
    </div>
</div>

<div style="display: none;">
    <a id="showMyTripsPopup" href="#myTripsPopup"></a>
    <div id="myTripsPopup"></div>
</div>

<script type="text/javascript">
    document.SendRequestUrl = "@Url.Action("SendRequest", "Requests")";
    document.SelectTripUrl = "@Url.Action("SelectTrip", "Requests")";
    document.CreateMyNewTripUrl = "@Url.Action("CreateNewTrip", "Requests")";
    document.SearchUrl = "@Url.Action("GetTrips", "Trips")";
</script>