@{
    ViewBag.Title = "Beride";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@using System.Globalization
@model TransportSystem.Area.Web.Models.Trips.TripsListModel

@section head
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/trip/trips.list.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slider/coda-slider.1.1.1.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slider/jquery-easing-compatibility.1.2.pack.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/slider/jquery-easing.1.2.pack.js")"></script>
}

<div class="content" style="margin-top:30px;">
    <table class="trips-list-table">
        @if (Model.trips.Count == 0)
        {
            <div class="trips-not-found">Поездок не найдено. Вы можете создать свою, чтобы Вас могли найти водители или попутчики.</div>
        }
        @foreach (var trip in Model.trips)
        {
            <tr>
                <td class="info">
                    <div>
                        @{
                            var i = 1;

                            foreach (var point in trip.MainRouteShortStr)
                            {
                                if (point == trip.StartPointShortName || point == trip.EndPointShortName)
                                {
                                    <span class="primary-point">@point</span>
                                }
                                else
                                {
                                    <span class="secondary-point">@point</span>
                                }

                                if (trip.MainRouteShortStr.Count() != i)
                                {
                                    <span>&rarr;</span>    
                                }
                                i++;
                            }
                        }
                    </div>
                    <div class="free-seats-container">
                        <span class="free-seats">
                            @if (trip.IsDriver)
                            {
                                <text>Свободных мест:</text>
                            }
                            else
                            {
                                <text>Кол-во человек:</text>
                            }
                        </span>
                        <span class="free-seats-number">
                            @trip.SeatsNumber
                        </span>
                    </div>
                    <div>
                        <span class="date-departure">
                            @{ var ci = new CultureInfo("ru-RU", false); }
                            @if (trip.Date == DateTime.Today)
                            {
                                <text>Сегодня</text>
                            }
                            else if (trip.Date == DateTime.Today.AddDays(1))
                            {
                                <text>Завтра</text>
                            }
                            else if (trip.Date < DateTime.Today.AddDays(7))
                            {
                                @trip.Date.ToShortDateString()<text>,&nbsp;</text>
                                @ci.DateTimeFormat.DayNames[(int)trip.Date.DayOfWeek];
                            }
                            else
                            {
                                @trip.Date.ToShortDateString()
                            }
                        </span>
                    </div>
                </td>
                <td>
                    <div style="position: relative;">
                        @if (trip.IsDriver)
                        {
                            <a class="simple-button" onclick="sendRequestToTrip(@trip.TripDateId, @trip.RouteId)">Присоединиться</a>
                            <div class="cost">
                                Место: 500р
                            </div>
                        }
                        else
                        {
                            <a class="simple-button offer-button" onclick="sendRequestToTrip(@trip.TripDateId, @trip.RouteId)">Предложить</a>
                        }
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<div style="display: none;">
    <a id="showMyTripsPopup" href="#myTripsPopup"></a>
    <div id="myTripsPopup"></div>
</div>

<script type="text/javascript">
    document.SendRequestUrl = "@Url.Action("SendRequest","Requests")";
    document.SelectTripUrl = "@Url.Action("SelectTrip", "Requests")";
    document.CreateMyNewTripUrl = "@Url.Action("CreateNewTrip", "Requests")";
</script>