@model TransportSystem.Area.Web.Models.Personal.MyTripsCabinetModel

<script type="text/javascript" src="@Url.Content("~/Scripts/personal/my.trips.cabinet.js")"></script>

<div class="my-trips-cabinet">
    <div class="title">Заявки на поездки</div>
    <div class="descriptions">
        <span class="for-trips">Ваши поездки</span>
        <span class="for-requests">Ваши заявки</span>
        <span class="for-user-profile">Подробно</span>
    </div>
    <div class="trips main-block">
        @foreach (var trip in Model.Trips)
        {
            <div class="trip" trip-id="@trip.TripId">
                <div class="route" title="@trip.MainRouteShortString">
                    @trip.MainRouteShortString
                </div>
                <div class="date-period">
                    @if (trip.StartDateAt == trip.StartDateTo)
                    {
                        @trip.StartDateAt.ToShortDateString()
                    }
                    else
                    {
                        @trip.StartDateAt.ToShortDateString()<text>&nbsp;-&nbsp;</text>@trip.StartDateTo.ToShortDateString()
                    }
                </div>
            </div>
        }
        @if (!Model.Trips.Any())
        {
            <div class="notification">Нет поездок для отображения</div>
        }
    </div>
    <div class="requests main-block">
        @if (Model.Requests.Any())
        {
            foreach (var request in Model.Requests)
            {
                <div class="request">
                    <div class="photo"><img src="@Url.Content("~/Content/img/never-say-no-to-panda1.png")"/></div>
                    <div class="full-name">
                        @request.UserFullName
                    </div>
                    <div class="route">
                        @request.UserFullRoute
                    </div>
                    <div class="date-period">
                        @request.RequestToDate.ToShortDateString()
                    </div>
                </div>
            }
        }
        else
        {
            <div class="notification">Нет заявок для отображения</div>
        }
    </div>
    <div class="user-profile main-block">
    </div>
</div>

<script type="text/javascript"> document.GetRequestsByTripUrl = '@Url.Action("GetRequestsByTrip", "Requests")';</script>