@using TransportSystem.Domain.Enums
@model TransportSystem.Area.Web.Models.Personal.MyTripsCabinetModel

<script type="text/javascript" src="@Url.Content("~/Scripts/personal/my.trips.cabinet.js")"></script>

<div class="my-trips-cabinet">
    <div class="title">Заявки на поездки</div>
    <div class="descriptions">
        <span class="for-trips">Ваши поездки</span>
        <span class="for-requests">Ваши заявки</span>
        <span class="for-user-profile">Подробно</span>
    </div>
    <div class="trips main-block">
        @foreach (var trip in Model.Trips)
        {
            <div class="trip" trip-id="@trip.TripId">
                <div class="route" title="@trip.MainRouteShortString">
                    @trip.MainRouteShortString
                </div>
                <div class="date-period">
                    @if (trip.StartDateAt == trip.StartDateTo)
                    {
                        @trip.StartDateAt.ToShortDateString()
                    }
                    else
                    {
                        @trip.StartDateAt.ToShortDateString()<text>&nbsp;-&nbsp;</text>@trip.StartDateTo.ToShortDateString()
                    }
                </div>
            </div>
        }
        @if (!Model.Trips.Any())
        {
            <div class="notification">Нет поездок для отображения</div>
        }
    </div>
    <div class="requests main-block">
        @if (Model.Requests.Any())
        {
            foreach (var request in Model.Requests)
            {
                <div class="request">
                    <div class="photo"><img src="@Url.Content("~/Content/img/never-say-no-to-panda1.png")"/></div>
                    <div class="route">
                        @request.UserFullRoute
                    </div>
                    <div class="date-period">
                        <span>Дата выезда:</span>
                        @request.RequestToDate.ToShortDateString()
                    </div>
                    <div class="cost">
                        <span class="cost-label">Цена поездки:</span>
                        @if (request.Cost == 0)
                        {
                            <span class="cost-value">Бесплатно</span>
                        }
                        else
                        {
                            <span class="cost-value">@request.Cost</span>
                            <span class="cost-currency">руб.</span>
                        }
                    </div>
                    @if (request.ToMe)
                    {
                        <div style="clear: both;"></div>
                        <a class="simple-button simple-button-small agree">Принять</a>
                        <a class="decline">Отклонить</a>
                    }
                    else
                    {
                        <div class="status">
                            <span class="status-label">Статус:</span>
                            <span class="status-value">@request.RequestStatus</span>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div class="notification">Нет заявок для отображения</div>
        }
    </div>
    <div class="user-profile main-block">
    </div>
</div>

<script type="text/javascript"> document.GetRequestsByTripUrl = '@Url.Action("GetRequestsByTrip", "Requests")';</script>